@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-petrol {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(17, 82, 106, var(--tw-bg-opacity)) !important
}

.footer:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  width: 120px;
  background-color: #fff;
  transform: skew(-30deg);
  transform-origin: top
}

@media (max-width:630px) {
  .footer:before {
    width: unset
  }
}

.footer .menu:before {
  width: 20px;
  height: 2px;
  background-color: #d92a2a;
  left: 0;
  top: 8px
}

.footer .menu:after,
.footer .menu:before {
  content: "";
  position: absolute
}

.footer .menu:after {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #d92a2a;
  background-color: #fff;
  top: 4px;
  left: 20px
}

.footer .menu:hover:after {
  background-color: #d92a2a
}

.footer .menu a:hover {
  color: #d92a2a
}

.footer .logos ul li {
  overflow: visible;
  text-indent: -9999px;
  float: left;
  margin: 0 0 0 8px
}

.footer .logos ul li a {
  background: url(https://www.cvovolt.be/img/logos/h11-go-ehb.png) no-repeat;
  width: 100%;
  height: 100%;
  display: block
}

.footer .logos ul li a:hover {
  background-position-y: -65px
}

.footer .logos ul .go {
  width: 158px;
  height: 65px
}

.footer .logos ul .go a {
  background-position-x: -52px
}

.footer .logos ul .sg11 {
  width: 52px;
  height: 65px
}

.footer .logos ul .ehb {
  width: 165px;
  height: 65px
}

.footer .logos ul .ehb a {
  background-position-x: -210px
}